.cadastro{
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

.cadastro-imagem img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cadastro-conteudo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
  margin: auto;
}

.cadastro-conteudo label{
  display: block;
  position: relative;
  padding-left: 8px;
}

.cadastro-conteudo label::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 32px;
  width: 4px;
  background-color: var(--cor-principal-v2);
}

.cadastro-conteudo input{
  padding: 8px 16px;
  border-radius: 20px;
  margin-top: 16px;
  border-bottom: 2px solid var(--cor-secundaria-c9);
  font: 400 0,75rem/1.5 "Lato", sans-serif;

}
.botao-cadastro{
  padding-top: 60px;
}
.botao-cadastro button{
  display: block;
  margin: 0 auto;
}

.titulo-cadastro{
  text-align: center;
  text-transform: uppercase;
}

