.formulario-bg{
  background: linear-gradient(to bottom, #af0600 40%, #ffffff 0%);
}

.formulario-inscricao{
  display: grid;
  grid-template-columns: 1fr 1.7fr;
  padding: 30px 80px 120px 80px;
}
.formulario-inscricao-bg{
  background: var(--cor-secundaria-c9);
}

.titulo-formulario{
  padding: 48px 72px 18px 72px;
}

.titulo-formulario p{
  position: relative;
  padding-left: 8px;
}

.titulo-formulario p::before{
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  height: 27px;
  width: 4px;
  background-color: var(--cor-principal-v2);

}

.formulario-inscricao-conteudo{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 36px 48px;
  padding: 18px 72px 0px 72px;
}

.formulario-parte01 input{
  margin-top: 8px;
  width: 100%;
  box-sizing: border-box;
}

.formulario-parte01 label{
  display: block;
}

.formulario-inscricao-conteudo fieldset legend {
  margin-bottom: 12px;
}

.formulario-inscricao-conteudo fieldset {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 1.3fr 1fr 1fr;
  gap: 12px ;
}

.formulario-parte01.cpf, 
.formulario-parte01.email{
  grid-column: 1/-1;
}

.formulario-parte01 input{
  background: var(--cor-secundaria-c9);
  border-radius: 20px;
  padding: 8px 16px;
  border-bottom: 2px solid var(--cor-w);
  color: var(--cor-w);
  font: 400 0,75rem/1.5 "Lato", sans-serif;
}

.formulario-parte01 input:focus{
  outline: none;
  border-color: var(--cor-w);
}

.formulario-botao{
  grid-column: 1/-1;
  text-align: center;
}

/* Customizão do Rádio */

input[type="radio"]{
  appearance: none;
  position: absolute;
  height: 0;
  width: 0;
  opacity: 0;
}

.radio-customizado{
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid var(--cor-principal-v2);
  border-radius: 50%;
  margin-right: 8px;
  position: relative;
  cursor: pointer;
}

.formulario-inscricao-conteudo fieldset label{
  display: flex;
  align-items: center;
  cursor: pointer;
}

.radio-customizado::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background: var(--cor-principal-v2);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  opacity: 0;
  transition: opacity 0.2s ease;
}

input[type="radio"]:checked + label .radio-customizado::after {
  opacity: 1;
}


