.formulario-inscricao-bg{
  background: linear-gradient(to bottom, #af0600 43%, #ffffff 0%);
}

.formulario-inscricao{
  display: grid;
  grid-template-columns: 1fr 1.4fr;
  padding: 30px 112px 120px 112px;
}
.formulario-inscricao-conteudo{
  background: var(--cor-secundaria-c9);
  
}
