.lista-trilhas-bg:nth-child(odd){
  background:linear-gradient(to right, #ffffff 30%, #141313 0%);
}

.lista-trilhas-conteudo{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 60px;
  padding-bottom: 60px;
  gap: 48px;
}

.lista-trilhas-conteudo-fundo-preto{
  padding-bottom: 48px;
  padding-top: 48px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.lista-trilhas-conteudo--primeiro{
  padding-top: 120px;
}

.lista-trilhas-conteudo--ultimo{
  padding-bottom: 120px;
}

.lista-trilhas-conteudo img{
  border-radius: 5px;
}

.lista-trilhas-conteudo p{
  margin-top: 12px;
}

.detalhe-conteudo{
  display: grid;
  margin-top: 180px;
  grid-template-columns: 1fr 2fr;
}

.detalhe-conteudo-icones{
  display: flex;
  justify-self: end;
  gap: 8px;
}

/* MODAL */
.modal{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(20, 19, 19, 0.95);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.7);
}

.modal-header{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(175, 6, 0, 0.90);
}

.modal-titulo-conteudo{
  padding: 24px 8px;
  flex-grow: 1;
}

.botao-fechar{
  display: inline-block;
  cursor: pointer;
  padding: 8px 16px;
  width: 25px;
  height: 25px;
}

#listaParticipantes{
  padding: 24px;
  overflow-y: auto;
}

#modalTitulo{
  text-align: center;
}
